<div class="container px-5 px-sm-0">



  <div class="row">
    <div class="col-md-3"><%= render 'books/info', book: @book_new, user: current_user %></div>

    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>

           <table class="table table-hover table-inverse">
              <thead>
                 <tr>
                  <th>Image</th>
                  <th>name</th>
                  <th></th>
                 </tr>
              </thead>



                <tbody>

                  <% @user.each do |user| %>
                   <tr>
                      <td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %></td>
                      <td><%= user.name %></td>
                      <td><%= link_to "Show", user_path(user) %></td>
                   </tr>

                  <% end %>
                  <%= paginate @user %>
                </tbody>

           </table>

    </div>
  </div>
</div>
