
<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
   <h2>Editing Book</h2>

      <%= form_with model:@book, local:true do |f| %>



       <% if @book.errors.any? %>
         <%= @book.errors.count %>error prohibited this obj from being saved:
          <ul>
             <% @book.errors.full_messages.each do |message| %>
           <li><%= message %></li>
            <% end %>
           </ul>
       <% end %>



         <p>Title</p>
         <span><%= f.text_field :title %></span>

         <p>Opinion</p>
         <span><%= f.text_area :body %></span>

　      <%= f.submit "Update Book", class: 'btn btn-success' %>

　      <p><%= link_to "Show", user_path %> | <%= link_to "Back", books_path %></p>

      <% end %>
  </div>
 </div>
</div>


